In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/nfs/misc/literature/shyama/OTAR_Old_Pipeline/release_20_11.tsv', sep = '\t')

In [11]:
selected_columns = ['PMID','FT_ID','PUBYEAR','PUB_DATE']
df_final = df[(df.RESEARCH_ARTICLE_YES_NO =='Y') & (df.AVAILABILITY_STATUS=='O')][selected_columns]

In [12]:
df_final.head(10)

    PMID       FT_ID  PUBYEAR    PUB_DATE
5    NaN  PMC7532628   2020.0  01/01/2020
6    NaN  PMC7532630   2020.0  01/01/2020
7    NaN  PMC7467904   2020.0  01/09/2020
8    NaN  PMC7474916   2020.0  01/09/2020
9    NaN  PMC7454852   2020.0  01/08/2020
11   NaN  PMC7391889   2019.0  01/07/2019
16   NaN  PMC7542504   2020.0  01/01/2020
17   NaN  PMC7388410   2020.0  01/05/2020
18   NaN  PMC7387829   2020.0  01/07/2020
19   NaN  PMC7388411   2020.0  01/06/2020

In [13]:
id_database_df = df_final.sort_values(by=['FT_ID'], ascending=True)
id_database_df.head(10)

                PMID      FT_ID  PUBYEAR    PUB_DATE
15631610  11882252.0  PMC100320   2002.0  01/01/2002
20311744  11882251.0  PMC100321   2002.0  01/01/2002
25632571  11922865.0  PMC100322   2002.0  01/01/2002
18126022  11922867.0  PMC100323   2002.0  01/01/2002
28057161  11879527.0  PMC100324   2002.0  01/01/2002
15447634  11914147.0  PMC100325   2002.0  01/01/2002
28741483  11884248.0  PMC100326   2002.0  01/01/2002
22714587  11914137.0  PMC100327   2002.0  01/01/2002
29397792  11918828.0  PMC100357   2002.0  01/01/2002
20789555  11918830.0  PMC100780   2002.0  01/01/2002

In [14]:
len(id_database_df)

2788739

In [16]:
id_database_df.to_csv ('/nfs/gns/literature/Santosh_Tirunagari/OTAR_ids_dataset/id_dataset.csv', index = False, header=True)

In [28]:
FT_IDS = dict(zip(id_database_df['FT_ID'].values.tolist(), id_database_df['PUB_DATE'].values))

In [29]:
'PMC1065265' in FT_IDS

True

In [30]:
FT_IDS['PMC1065265']

'01/04/2005'